<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^mindbodycacao.com/body-therapy$ [OR]
  RewriteCond %{HTTP_HOST} ^www.mindbodycacao.com/body-therapy$
  RewriteRule (.*)$ https://mindbodycacao.com/somatic-therapy-mexico-city/$1 [R=301,L]
</IfModule>