<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</IfModule>

RedirectMatch 301 ^/body-therapy/.*$ https://mindbodycacao.com/somatic-therapy-mexico-city