<!-- _includes/footer.html -->

<footer class="footer mt-5">
  <div class="container-fluid">
    <div class="container">
    <div class="my-5 p-2 p-md-5">
      <h2 class="text-center mb-5 mt-5">Ready to embark on your healing journey?</h2>
      <div class="row">
        <div class="col-md-6">
        <p>Tania Chapper is a dedicated psychotherapist with over 15 years of experience supporting individuals through their mental health challenges. Holding a <strong>Master's in Psychology</strong> and certifications in <strong>EMDR</strong> (Eye Movement Desensitization and Reprocessing) and <strong>Brainspotting</strong>, Tania is deeply committed to helping her clients heal from trauma, anxiety, depression, and other emotional struggles using proven, evidence-based therapeutic techniques.</p>
        <p>Tania is also a certified <strong>Yoga Instructor</strong>, bringing an integrated approach to mental health by combining psychotherapy with body-centered healing practices. With a background in dance, she understands the profound connection between the mind and body and uses this insight to guide her clients through movement therapy, yoga, and embodiment practices to promote emotional and physical well-being.</p>
        <p>Having <strong>worked and lived both in the United States and Mexico</strong>, Tania brings a unique, cross-cultural perspective to her work, particularly in assisting expats and individuals navigating life transitions, cultural adjustments, and complex personal challenges. Her compassionate and holistic approach aims to empower her clients, helping them reclaim their sense of self, restore emotional balance, and achieve their goals.</p>
        </div>
        <div class="col-md-6">
            <script type="text/javascript" async src="https://static.zcal.co/embed/v1/embed.js"></script>
            <div class="zcal-inline-widget"><a href="https://zcal.co/i/GOmQXX-v">Free Consultation - Schedule a meeting</a></div>
        </div>
      </div>
      
    <div class="white-skill-box p-5 my-4">
        <div class="row">
            <div class="col-md-4 mb-5 mb-md-0"><h4>Tania Chapper</h4>
                <ul class="contact-list">
                <li><i class="bi bi-telephone"></i> <a href="tel:+13124599549">+1 312 459 9549</a> </li>
                <li><i class="bi bi-telephone"></i> <a href="tel:+525561342194">+52 55 6134 2194</a> </li>
                <li><i class="bi bi-calendar2-check"></i> <a href="https://zcal.co/i/GOmQXX-v" target="_blank">Schedule a meeting</a> </li>
                <li><i class="bi bi-geo-alt"></i> Mexico, City (Condesa) and remote</li>
                
                
                </ul>
            </div>
            <div class="col-md-4">
            <ul class="skill-list">
                <li><i class="bi bi-check2-circle"></i> Licensed Psychotherapist, MA</li>
                <li><i class="bi bi-check2-circle"></i> EMDR Therapy Certified</li>
                <li><i class="bi bi-check2-circle"></i> BrainSpotting Therapy Certified</li>
                <li><i class="bi bi-check2-circle"></i> Certified Yoga Instructor   </li>
            </ul>
            </div>
            <div class="col-md-4">
            <ul class="skill-list">
                <li><i class="bi bi-check2-circle"></i> In-person consulations (Mexico City, CDMX, Condesa) and remote consulations</li>
                <li><i class="bi bi-check2-circle"></i> Spanish/English Bi-lingual</li>
                <li><i class="bi bi-check2-circle"></i> <a href="https://maps.app.goo.gl/QbEHg8VTL8RfVh616" target="_blank"> Highly rated by my patients</a></li>
            </ul>
            </div> 
        </div>

    </div>
        
    </div>
    </div>
  </div>
</foooter>
