<!-- _includes/navbar.html -->

<header class="logo-area">
<div class="logo">
      <img src="/assets/img//psychotherapist-mexico-tania-chapper.svg" class="img-fluid mt-3 mb-3" alt="Logo">
</div>
</header>
<nav class="navbar navbar-expand-lg pb-3">
  <div class="button-menu">
  <button class="navbar-toggler text-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span>Menu</span>
  </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav text-center">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Therapies
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/psychotherapy-mental-health-services">Psychotherapy </a></li>
            <li><a class="dropdown-item" href="/somatic-therapy-mexico-city">Somatic Therapy</a></li>
            <li><a class="dropdown-item" href="/cacao-therapy-ceremony">Cacao Therapy</a></li>
          </ul>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            For who
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/individual-therapy">Individuals</a></li>
            <li><a class="dropdown-item" href="/couples-therapy">Couples</a></li>
            <li><a class="dropdown-item" href="/adolescents-therapy">Adolescents</a></li>
            <li><a class="dropdown-item" href="/parents-therapy">Parents</a></li>
            <li><a class="dropdown-item" href="/english-therapy-mexico-city">Expats Living in Mexico</a></li>
            <li><a class="dropdown-item" href="/mexican-expats-living-abroad">Mexican Expats</a></li>
          </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/notes">Notes</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://zcal.co/mindbodycacao/consultation" target="_blank" data-simple-event="book_consultation">Book a free session</a>
      </li>
      
    </ul>
  </div>
</nav>


